html, body {
	color:white;
	background:#202020;
	font-family:Helvetica, Arial, Sans;
}

pre { 
	font-family:Menlo, Monaco, Monospace;
	font-size:12px;
	line-height:16px;
	tab-size:2;
	padding:1px 4px;
	margin:0 0 16px 0;
}

/* { outline: 1px solid #fff;} */

/* Json Colors
key: (blue) #7587A6
number: (red) #CF6A4C
boolean: (red) #CF6A4C
string: (green) #8F9D6A
gutter (darkgrey) #232323
background (black) #141414 */

.invalid,
.string-end-badstring,
.delim-invalid, 
.group-noend {
  background:#60315A; /* purple */
  padding:1px 0 0;
}

.group-noend {
	color:#202020;
} 

.comment,
.CDC, 
.CDO, 
.comment-start, 
.comment-data, 
.comment-end
 {
	color:#746D74;
	font-style:italic;
	font-weight:normal;
}

.string,
.string-start,
.string-chars,
.string-end
 {
	color:#8F9D6A;
}

.escape,
.escape-char, 
.escape-hex, 
.escape-eof,
.ignore-newline
 {
	color: #DDF7AC; /* light-green */
}

.hashid,
.hash,
.ident-start-hash,
.ident-start-hashid,
.boolean,
.number {
	color:#CF6A4C; /* red */
}

.at,
.symbol,
.func,
.ident-start-at
{
	color:#7587A6; /* blue */
}

.column, 
.operator {
	color:#D4BD7F; /* light brown */
}

.delim, 
.delim-invalid, 
.sep {
  
}

.ident,
.ident-chars
{
	color:#D4BD7F; /* light brown */
	color:#B38243; /* orange-brown */
}
